.card-container {
    display: block;
    margin-top: 2%;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.02);
  }

  .profile-picture{
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .post-picture{
    width: 400px;
    height: 400px;
  }

  .user-name{
    display: inline-block;
  }