body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
}

/* Feed Card */
.feed-card {
  background-color: #fcfcfc;
  border-radius: 8px;
  border: 0.1px solid #e1e3e8;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.feed-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.feed-card-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.feed-card-username {
  font-weight: bold;  
}

.feed-card-timestamp {
  color: #999999;
  font-size: 0.8rem;
}

.feed-photo{
  width: 70%;
  height: 100%;
  margin: auto auto;
}

.feed-card-image {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 5px;
  margin-bottom: 10px;
}

.feed-card-actions {
  display: flex;
  justify-content: space-between;
}

.action-btn{
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border: none;
  background-color: transparent !important;
  font-size: 1.3rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: color 0.1s ease;
}

.action-btn:hover {
  border: none;
  color: #12dcc4;
}


.feed-card-likes{
  color: #c71d2e;
}

.feed-card-comments{
  color: #156cbd;
}

.feed-card-views{
  color: #0b8c34;
}

.comment-container{

}

.comment-container {
  margin-top: 10px;
}

.comment-container input[type="text"] {
  font-family: 'Poppins',sans-serif;
  width: 100%;
  padding: 10px;
  border: 1.5px solid #7892c5;
  border-radius: 40px;
}

.comment-container button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
}

.comment-container button:hover {
  color: black;
  background-color: teal;
}

@media screen and (max-width: 768px) {
  .comment-container {
    display: flex;
    flex-direction: column;
  }

  .comment-container input[type="text"] {
    margin-bottom: 10px;
  }
}

.comment-button:hover{
  color: teal;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .feed-card {
    padding: 10px;
    margin-bottom: 10px;
  }

  .feed-card-header {
    margin-bottom: 5px;
  }

  .feed-card-avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .feed-card-username {
    font-size: 0.9rem;
  }

  .feed-card-timestamp {
    font-size: 0.7rem;
  }

  .feed-card-image {
    max-height: 200px;
    margin-bottom: 5px;
  }

  .feed-card-action {
    font-size: 0.7rem;
  }

  .feed-card-likes,
  .feed-card-comments {
    font-size: 0.8rem;
  }


}