.home-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100% !important;
    height: 100vh;
    overflow: hidden;
  }
  
  .left-container,
  .middle-container,
  .right-container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(80, 139, 207, 0.1);
    border: 1px solid rgba(54, 82, 123, 0.1);
    overflow-y: auto;
  }
  
  .left-container {
    grid-column: 1;
  }
  
  .middle-container {
    grid-column: 2;
  }
  
  .right-container {
    grid-column: 3;
  }

  .home-heading{
    font-family: 'Oswald',sans-serif;
    text-decoration: underline;
    color: #3f5e91;
  }
 

  @media(max-width: 800px){
    .home-container {
    display:grid;
    grid-template-columns: 15% 50% 35%;
    }
  }