.link-divider{
    border-right:solid 1.5px grey;
    height: 100%;
}

nav{
    margin-top: 40px;
}

ul{
    list-style-type: none;
}

li{
    margin-top: 2px;
    border-radius: 5px;
    text-align:left;
}

.nav-links {
    color: #000;
    display: flex;
    text-decoration: none;
    padding: 5px;
    height: 100%;
}

.nav-links:hover{
    background-color: #BDCDD6;
    border-radius: 5px;
    color: #000;
    font-weight: bolder;
}
 