.reset{
    justify-content: center;
    text-align: center;
    margin: 0 20px;
}

.reset_container{
    display: flex !important;
    width: auto!important;
    height: auto !important;
    padding: 100px;
    margin: auto auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 'Poppins';
    border-radius: 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.reset-title{
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
}

.reset_input{
    padding: 20px 0;
    padding-left: 15px;
    outline: none;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-family: 'Poppins';
    border-radius: 2px;
    margin-bottom: 5px !important;
    font-size: 1rem;
}

.reset_button {
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
    padding: 17px 30px;
    margin-top: 20px;
    background: black;
    font-family: 'poppins';
    border: none;
    color: white;
    font-size: 1.3rem;
    font-family: 'Inter';
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
  }
  
  .button:after,
  .button:before {
    position: absolute;
    content: "";
    z-index: -1;
  }
  
  .button:hover {
    background-color: #0056b3;
    font-weight: 300;
  }
  
  .button::after {
    height: 100%;
    left: -100%;
    top: 0;
    transition-duration: 0.6s;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6), transparent);
    transform: skewX(50deg);
  }
  
  .button:hover::after {
    left: 100%;
  }
  
  
  input:required:valid {
    background-color: #eaffea;
    /* Change the background color when the input is valid */
  }
